* {
  background-color: #1f2937;
  color: white;
  font-family: roboto;
}

body {
  margin: 1rem 10rem;
}

header ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
}

.header-logo {
  margin-right: auto;
  font-weight: 800;
  text-decoration: none;
  font-size: 24px;
  color: #f9faf8;
}

nav ul a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}
