* {
  background-color: #1f2937;
  color: white;
  font-family: roboto;
}

body {
  margin: 1rem 20rem;
}

header ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
}

.header-logo {
  margin-right: auto;
  font-weight: 800;
  text-decoration: none;
  font-size: 24px;
  color: #f9faf8;
}

nav ul a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-wrapper {
  display: flex;
  padding: 4rem 0;
  gap: 20px;
  align-items: stretch;
}

.hero-text {
  width: 40%;
}

.hero-text button {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 6px 20px;
  border: 0px;
  font-weight: 600;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0px;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px 0px;
}

.hero-image {
  width: 60%;
  overflow: hidden;
  align-self: center;
}

.hero-image img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}
