* {
  color: white;
  font-family: roboto;
}

body {
  margin: 0px;
}

header {
  padding: 1rem 20rem;
  background-color: #1f2937;
}

header ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
}

.header-logo {
  margin-right: auto;
  font-weight: 800;
  text-decoration: none;
  font-size: 24px;
  color: #f9faf8;
}

nav ul a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-wrapper {
  display: flex;
  /*  padding: 4rem 0; */
  gap: 20px;
  align-items: stretch;
  padding: 10rem 20rem;
  background-color: #1f2937;
}

.hero-text {
  width: 40%;
}

.hero-text button {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 6px 20px;
  border: 0px;
  font-weight: 600;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0px;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px 0px;
}

.hero-image {
  width: 60%;
  overflow: hidden;
  align-self: center;
}

.hero-image img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}

.random-information-section {
  background-color: white;
  margin: 3rem 22rem;
}

.random-information-section h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: auto 20px;
  text-align: center;
}

.blocks-gallery {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 4rem;
}

.blocks-gallery p {
  color: #1f2937;
  text-align: center;
  margin: auto;
}

.blue-border--curved {
  border-radius: 5px;
  border: 3px solid #3882f6;
  height: 8rem;
}

.gray-background {
  background-color: #e5e7eb;
  padding: 3rem 22rem;
}

.quote-text {
  font-style: italic;
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
}

.quote-author {
  color: #1f2937;
  text-align: right;
  font-weight: 700;
}
